@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');

:root {
  --drk-blue: #1a202c;
  box-sizing: border-box;
}

body {
  background: var(--drk-blue);
  font-family: 'Tiro Devanagari Sanskrit', serif;
  letter-spacing: 1.2px
}

